
/* ====================== */
/* CHATBOT SECTION        */
/* ====================== */
/* Chatbot container */
.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Chatbot header */
.chatbot-header {
    background-color: #d84b16; /* Rouge */
    padding: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbot-header .close-button {
    cursor: pointer;
    font-size: 18px;
}

/* Chatbox section */
.chatbox {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.chat-input {
    width: 75%;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    resize: none;
}

.send-button {
    background-color: #d84b16; /* Rouge */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.send-button:hover {
    background-color: #e8a57f; /* Couleur plus claire sur hover */
}

/* Close button hover */
.chatbot-header .close-button:hover {
    color: #f0f0f0;
}
